main {
  @include fondo-cubierto("../assets/fondo-pantalla.jpg");
  width: 100%;
  min-height: 500px;
  height: 100vh;

  .template-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .hero {
    @include flex-center;
    text-align: center;
    color: $color-hover;
    padding: 20px;

    &-content {
      background: rgba(0, 0, 0, 0.5);
      padding: 30px;
      border-radius: 10px;
    }
  }
}