.navbar {
   @include fondo-cubierto("../assets/encabezado.jpg");
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;
  position: relative;
  z-index: 1;
  color: white;

   &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.6)
    );
    z-index: -1;
   }
 

  .logo {
    height: 110px;
    width: 100px;
    border-radius: 50%;
    border-color: black;
    margin: .625rem;
  }

  .titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      margin: 0;
       font-family: "Italianno", cursive;
       font-weight: 400;
       font-style: normal;
       font-size: 2.8125rem;
    }

    p {
      margin: 0;
      font-family: "Italianno", cursive;
       font-weight: 400;
       font-style: normal;
       font-size: 1.875rem;
    }
  }

  nav {
    ul {
      list-style: none;
      display: flex;
      gap: 15px;
      padding: 15px;
      margin: 0;
      border-radius: .625rem;
      background-color: $color-primario;

      li {
        a {
          text-decoration: none;
          color: #e9f8df;
          font-weight: bold;
          font-size: 18px;
          font-family: $fuente-general;

          &:hover {
            color: $color-hover;
          }
        }
      }
    }
  }
}
