$color-primario: #666;
$color-hover: #fff;
$color-fondo-btn: #f4c2c2;
$color-texto-btn: black;

$fuente-general: Georgia, 'Times New Roman', Times, serif;
$titulo-font-size: 24px;
$parrafo-font-size: 14px;


// BOTON
//contacto
$verde-boton: #91dc66;
$verde-boton-hover: #78c854;
$color-texto-boton: #000;
$color-texto-secundario: #6c6c6c;

//nosotros
$color-texto: #000;
$color-secundario: #666;
$color-sombra: 0 4px 10px rgba(145, 220, 102, 0.3);
$espaciado-secciones: 40px 20px;

//reseña
$color-principal: #000;
$color-secundario: #6c6c6c;
$padding-seccion: 40px 20px;

//servicio
$rosa-boton: #f4c2c2;